<html>
  <head>
    <title>Add or Edit Book Form</title>
  </head>
  <body>
    <form th:action="@{/book/save(id=${book.id})}" th:object="${book}" method="post"> 
      <!-- ID -->
      <input id="id" placeholder="ID" type="text" th:field="${book.id}" disabled>
      <!-- TITLE -->
      <input id="title" placeholder="Title" type="text" th:field="${book.title}">
      <!-- YEAR -->
      <input id="year" placeholder="Year" type="number" th:field="${book.year}">
      <!-- PRICE -->
      <input id="price" placeholder="Price" type="number" th:field="${book.price}">
      <!-- STOCK -->
      <input id="count" placeholder="Stock" type="number" th:field="${book.count}">
      <!-- AUTHOR -->
      <select id="author" th:field="${book.author.id}">
        <option value="" disabled selected>Select Author</option>
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
      </select>
      <!-- PUBLISHER -->
      <select id="publisher" th:field="${book.publisher.id}">
        <option value="" disabled selected>Select Publisher</option>
        <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}"></option>
      </select>
      <!-- SUBMIT BUTTON -->
      <button type="submit">Submit</button>
    </form>
  </body>
</html>