<html>
  <head>
    <title> Publisher </title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>adhi</td>
          <td>EDIT | DELETE</td>
        </tr>
        <tr>
          <td>2</td>
          <td>maria</td>
          <td>EDIT | DELETE</td>
        </tr>
        <tr>
          <td>3</td>
          <td>betty</td>
          <td>EDIT | DELETE</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>