<html>
  <head>
    <title>Change Password</title>
  </head>
  <body>
    <form th:action="@{/usermanagement/update}" th:object="${dataLogin}" method="post"> 
    <!-- <form th:action="@{/login/save(id=${login.id})}" th:object="${login}" method="post">  -->
      <!-- ID -->
      <input id="id" placeholder="Id" type="text" th:field="${dataLogin.id}" readonly>
      <!-- EMAIL -->
      <input id="email" placeholder="Email" type="email" th:field="${dataLogin.email}" readonly>
      <!-- PASSWORD -->
      <input id="password" placeholder="New Password" type="password" th:field="${dataLogin.password}">
      <!-- SUBMIT BUTTON -->
      <button type="submit">Update</button>
    </form>
  </body>
</html>