<html>
  <head>
    <title>Forgot Password</title>
  </head>
  <body>
    <form th:action="@{/usermanagement/requestreset}" th:object="${forgotPassword}" method="post">
      <!-- EMAIL -->
      <input id="email" placeholder="Email" type="email" th:field="${forgotPassword.email}">
      <!-- SUBMIT BUTTON -->
      <button type="submit">Send</button>
      <!-- LOGIN -->
      <a th:href="@{login}">Login</a>
      <!-- REGISTER -->
      <a th:href="@{register}">Register</a>
    </form>
  </body>
</html>